body {
	font-family: Verdana;
	font-size: 20px;
	background-color: #abcddd;
	width: 400px;
	margin: auto;
}


input[type=text]:focus , input[type=password]:focus{
  background-color: lightyellow;
	padding-left: 5px;
}







